@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<a asp-controller="Urun" asp-action="Listele" class="menuBtnYeni2  @(ViewContext.RouteData.Values["controller"].ToString() == "Urun" ? "menuBtnYeni2Checked" : "")">ÜRÜNLERİMİZ</a>

<a href="#" class="menuBtnYeni2">KURUMSAL</a>
<a href="#" class="menuBtnYeni2">BİZE ULAŞIN</a>


