@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div style="margin-left:10%; margin-right:10%; margin-top:50px; padding-top:5%">
    <h2>Siparişinizi Aldık! Teşekkür ederiz...</h2>
    <p>Ürünleriniz en geç 2 iş günü içinde paketlenip kargolanacaktır.</p>
</div>