
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div  class="form-inline float-right" style="height:60px; padding-right:10px">
    <input id="aramaKutucugu" name="Arama" class="form-control mr-sm-2 bg-faded" type="search"  placeholder="Nasıl yardımcı olabilirim?" aria-label="Ara" value="@ViewData["AramaDegeri"]">    
</div>